.sign-in {
  width: 100%;
  height: 100vh;
  background-image: url(../../public/imgs/signin.jpg);
  background-size: cover;
  background-position: 50%;
}
 
.sin-shader {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow-y: auto;
}

.sign-in-title {
  font-size:clamp(3.8rem, 8vw, 6rem);
  padding-top: 7rem;
  padding-left: 3.5rem;
}

form {
  width: clamp(290px, 44vw, 500px);
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #3f3f3f;
  border-radius: 6px;
  border: 1px solid #303030;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  padding-bottom: 1rem;

}

.header {
  font-size: clamp(1.4rem, 8vw, 2rem);
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

.span {
  font-size: clamp(1.2rem, 6vw, 1.6rem);
}

.input {
  color: white;
  background-color: #302e2e;
  font-size: clamp(1rem, 5vw, 1.4rem);
  margin: .7rem 0;
  padding: .4rem;
  border-radius: 4px;
}

.sign-btn {
  margin: auto;
  margin-top: 3rem;
  padding: .4rem 3rem;
  border: 1px solid #95E2BD;
  border-radius: 5px;
  font-size: clamp(1.2rem, 6vw, 1.6rem);
  transition: all .3s ease-in-out;
}

.sign-up-prompt {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.sign-up-prompt:hover {
  text-decoration: underline;
  color: rgb(141, 217, 217);
}


@media only screen and (max-width: 650px) {

  .sign-in-title {
    font-size:clamp(2rem, 4vw, 3rem);
    text-align: center;
    padding-top: 4.5rem;
    padding-left: 0;
  }

  form {
    padding: 1.5rem;
    padding-bottom: .7rem;
  }
  .header {
    font-size: clamp(1.2rem, 6vw, 1.6rem);
  }
  
  .span {
    font-size: clamp(1rem, 3vw, 1.3rem);
  }
  .input {
    font-size: clamp(1rem, 3vw, 1.3rem);

  }

  .sign-up-prompt {
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 0.8rem;
    transition: all 0.2s ease-in-out;
  }

}