.carousel-container {
  visibility: collapse;
}

.carousel {

}

@media only screen and (max-width: 900px) {

  .about-title {
    padding-left: 2rem;
  }
  
  .carousel-container {
    visibility: visible;
  }

  .carousel {
    position: absolute;
    width: 100%;
    top: 5%;
    height: 70%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
  }

  .card-text {
    grid-row-start: 1;
    grid-row-end: 4;
    width: 60%;
    margin: auto;
    padding: 2rem;
    font-size: clamp(1.1rem, 6vw, 2.2rem);
    min-height: 400px;
  }


  .car-card-image {
    grid-row-start: 3;
    grid-row-end: 5;
    width: clamp(150px, 40%, 275px);
    margin: auto;
    transform: translateY(0%);

  }

  .arrow-button {
    font-size: clamp(1.8rem, 8vw, 3rem);
    position: absolute;
    color: white;
    top: 28%;
    border-radius: 40%;
    padding: .1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .arrow-button:hover {
    transform: scale(1.5, 1.5);
    background-color: rgba(255, 255, 255, 0.3);


  }

  #left {
    left: 10%;
  }
  #right {
    right: 10%;
  }


}


