.carousel {
  visibility: hidden;
}

@media only screen and (max-width: 900px) {

  .carousel {
    visibility: visible;
    position: absolute;
    width: 300%;
    top: 30%;
    display: flex;
    
  }

  .car-card {
    width: 100%;
    margin: 7rem;
    padding: 2rem;
  }











  .car-card-image {
    height: 13rem;
  }

}


